body{
background-color: rgb(114, 122, 190);
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
margin: auto;
}



.card-login {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(197, 213, 245);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
.row {
    display: flex;
    align-items: center;
}

.IMG-card img {
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

.IMG-card{
    width: 40%;
}
.col-form {
    width: 60%;
    padding: 20px;
}

.titulo {
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.descricao {
    margin-bottom: 20px;
}

.input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.btn {
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: royalblue;
}

.img-fluid rounded-start{
border-radius: 10px;
}


